/** {
	box-sizing: border-box;
}*/
/*label {
	-webkit-tap-highlight-color: transparent;
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}*/
/*input {
	margin: 0;
	padding: 0;
	-webkit-rtl-ordering: logical;
	user-select: text;
	cursor: auto;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font: 13.3333px Arial;
    -webkit-writing-mode: horizontal-tb;
}*/
/*body, body div {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}*/
/*img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}*/
/*h5 {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    display: block;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}*/
/*i {
	margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}*/
/*label.input-radio{
    width: 200px;
    overflow: hidden;
    display: inline-block;
    border: 1px #DADADA solid;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*-webkit-transition: border-color .1s;
    -moz-transition: border-color .1s;
    -o-transition: border-color .1s;*/
    transition: border-color 0.1s;
    margin: 10px;
}*/
label.input-radio:focus, label.input-radio:hover {
    border-color: #B7B7B7;
}
label.input-radio.with-icn{
    height: 210px;
}
label.input-radio .iconic-option-inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}
label.input-radio .iconic-option-inner h5 {
    font-size: 16px;
    color: #4A4A4A;
    font-weight: 700;
    padding-bottom: 15px;
    text-transform: uppercase;
}
label.input-radio img {
    max-width: 80px;
    margin-top: 5px;
}
label.input-radio .iconic-option-inner i {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 15px #fff solid;
    /*background: transparent;*/
    box-shadow: 0 0 0 1px #DADADA;
    border-radius: 50%;
    -webkit-transition: border-width .1s,box-shadow .1s;
    -moz-transition: border-width .1s,box-shadow .1s;
    -o-transition: border-width .1s,box-shadow .1s;
    transition: border-width 0.1s,box-shadow 0.1s;
}
label.input-radio input[type='radio'] {
    position: absolute;
    opacity: 0;
    top: -20px;
    left: -20px;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: radio;
    background-color: initial;
    border: initial;
}
label.input-radio input[type='radio']:checked+ {
    background: #F7F7F7;
}
label.input-radio input[type='radio']:checked+ .option-wrapper {
    background: #F7F7F7;
}
label.input-radio input[type='radio']:checked+ .option-wrapper .iconic-option-inner {
    background: #F7F7F7;
}
label.input-radio input[type="radio"]:checked+ .option-wrapper i {
    border-width: 5px;
    background: #FF0083;
}

label.input-checkbox{
    width: 200px;
    overflow: hidden;
    display: inline-block;
    border: 1px #DADADA solid;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;*/
    user-select: none;
    /*-webkit-transition: border-color .1s;
    -moz-transition: border-color .1s;
    -o-transition: border-color .1s;*/
    transition: border-color 0.1s;
    margin: 10px;
}
label.input-checkbox:focus, label.input-checkbox:hover {
    border-color: #B7B7B7;
}
label.input-checkbox.with-icn{
    height: 210px;
}
label.input-checkbox .iconic-option-inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}
label.input-checkbox .iconic-option-inner h5 {
    font-size: 16px;
    color: #4A4A4A;
    font-weight: 700;
    padding-bottom: 15px;
    text-transform: uppercase;
}
label.input-checkbox img {
    max-width: 80px;
    margin-top: 5px;
}
label.input-checkbox .iconic-option-inner i {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px #DADADA solid;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: border-color 0.1s,background-color 0.1s;
}
label.input-checkbox input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    top: -20px;
    left: -20px;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: radio;
    background-color: initial;
    border: initial;
}
label.input-checkbox input[type='checkbox']:checked+ {
    background: #F7F7F7;
}
label.input-checkbox input[type='checkbox']:checked+ .option-wrapper {
    background: #F7F7F7;
}
label.input-checkbox input[type='checkbox']:checked+ .option-wrapper .iconic-option-inner {
    background: #F7F7F7;
}
label.input-checkbox input[type="checkbox"]:checked+ .option-wrapper i {
    border: none;
}
label.input-checkbox input[type="checkbox"]:checked+.option-wrapper i:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
label.input-checkbox .iconic-option-inner i:after {
    content: "";
    background: transparent url(../imgs/sprite.svg) no-repeat -35px -26px;
    background-size: 350px 100px;
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    content: "";
    top: 50%;
    left: 50%;
    margin-left: -7px;
    margin-top: -5px;
    width: 15px;
    height: 10px;
}
label.input-checkbox .iconic-option-inner i:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #FF0083;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .1s;
    -moz-transition: -moz-transform .1s;
    -o-transition: -o-transform .1s;
    transition: transform 0.1s;
}
.option-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

label.input-radio {
    width: 200px;
    overflow: hidden;
    display: inline-block;
    border: 1px #DADADA solid;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: border-color .1s;
    -moz-transition: border-color .1s;
    -o-transition: border-color .1s;
    transition: border-color 0.1s;
}
.true, .false {
    width: 282px !important;
}
label.input-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    top: -20px;
    left: -20px;
}
label.input-radio input[type="radio"]:checked+.option-inner {
    background: #F7F7F7;
}
label.input-radio .option-inner {
    width: 282px;
    padding: 8px 15px 7px 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
label.input-radio .option-inner h5 {
    text-align: left;
    padding: 0 15px 0 10px;
}
label.input-radio .option-inner h5 {
    font-size: 16px;
    color: #4A4A4A;
    font-weight: 700;
    text-transform: uppercase;
}
label.input-radio input[type="radio"]:checked+.option-inner i {
    border-width: 5px;
    background: #FF0083;
}
label.input-radio .option-inner i {
    flex-shrink: 0;
}
label.input-radio .option-inner i {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 15px #fff solid;
    box-shadow: 0 0 0 1px #DADADA;
    border-radius: 50%;
    -webkit-transition: border-width .1s,box-shadow .1s;
    -moz-transition: border-width .1s,box-shadow .1s;
    -o-transition: border-width .1s,box-shadow .1s;
    transition: border-width 0.1s,box-shadow 0.1s;
}