.header-bar {
    background-color: #fdfdfd;
}

.sidenav-btn {
    margin-top: 27px;
    cursor: pointer;
}

.sidenav-btn img {
    outline: none;
}

.btn {
	background-color: transparent;
}

.humanoid {
	width: 100px;
	border: 1px solid #cac6c7;
	height: 100px;
	border-radius: 100px;
	padding: 10px;
	display: inline-block;
	margin-top: -65px;
	background: white;
	position: absolute;
	margin-left: -60px;
}

.mini-humanoid {
	padding-left: 13px;
    width: 51px;
    border: 1px solid #FF0083;
    height: 51px;
    border-radius: 100px;
    display: inline-block;
    background: white;
    position: absolute;
    padding-top: 6px;
}

.vcenter {
	display: flex;
	align-items: center;
	min-height: 500px;
}

.back-icon {
	padding-left: 20px;
	font-size: 90px;
	color: #DADADA;
	cursor: pointer;
    outline: none;
}

.start-container {
	margin-top: 130px;
}

.start-container .row {
	padding: 20px;
}

.start-container .row h3 {
    font: 400 36px/50px "Merriweather",Georgia,serif;
    color: #4A4A4A;
}

.start-container h3 {
	line-height: 150%;
}

.start-inputs {
    padding: 20px 6px; 
}
.start-inputs:focus {
    border: none;
    outline: none;
}

.form-control:focus {
    border: 2px solid #FF0083;
}

.form-control-focused {
    border: 2px solid #FF0083;
}

.start-buttons {
    font: 700 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
    height: 47px;
    line-height: 47px;
    padding: 0 70px;
    border: 0;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FF0083; /*PINK*/
    color: #fff;
}

.cancel-buttons {
    font: 700 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
    height: 47px;
    line-height: 47px;
    padding: 0 70px;
    background-color: #F7F7F7;
    border: 1px solid #DADADA;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    color: #4A4A4A;
}

.cancel-buttons:hover {
    background-color: #e0dcdc;
    border: 1px solid #dadada;
}

.start-buttons:hover {
    background-color: #d0036c;
}

.start-buttons:focus, .cancel-buttons:focus {
    outline: none;
}

.start-buttons-disabled, .start-buttons-disabled:hover {
    font: 700 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;;
    height: 47px;
    line-height: 47px;
    padding: 0 70px;
    border: 0;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #B7B7B7;
    cursor: default;
}

.error-message {
    color: #FF0083;
    position: relative;
    font-size: 14px;
    text-align: center;
    margin-bottom: -40px;
}

.error-message-sign {
    display: inline-block;
    border-radius: 16px;
    border: 1px solid;
    width: 21px;
}

#map {
	width: 100%; 
	height: 120px;
}

.vertical-column {
    display: table;
    table-layout: fixed;
}

.clearable {
	background:url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
	padding:3px 18px 3px 4px;
	transition: background 0.4s; 
}

.clearable.x {
	background-position: right 5px center;
}

.clearable.onX {
	cursor:pointer;
}

.info-bubble {
	min-height: 35px;
	min-width: 400px;
    border-radius: 20px 20px 20px 5px;
    background-color: #F7F7F7;
    margin-left: 61px;
    padding: 10px;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

select {
    font: 700 1.4rem/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
    background-image: url(../imgs/select-caret-dark.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding: 14px 35px 16px 15px;
    color: #4A4A4A;
    border: 1px solid #DADADA;
    border-radius: 5px;
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

.mobile-menu {
    background: #313131;
}

.mobile-menu-item {
    color: #fff;
    cursor: pointer;
}

.mobile-menu-item:hover {
    color: #dadada;
}

.close {
    color: #fff;
    opacity: 0.8;
    outline: none;
}

/* Removendo a borda azul padrão do bootstrap */
.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.rating-description {
    font: 700 1.4rem/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
    color: #4A4A4A;
}

.u-stars {
  color: #FF0083;
  font-size: 20px;
}

.padding-0 {
    padding: 0 !important;
}

.md-progress-linear.md-default-theme .md-bar, md-progress-linear .md-bar {
    background-color: #f09418;
}