.bg-gray {
    background-color: #f5f3f3 !important;
}

.bg-white {
    background-color: #fff !important;
}

.pink-link {
    color: #ed800b;
    text-decoration: none;
    cursor: pointer;
}

.header-bar {
    background-color: #fdfdfd;
}

.sidenav-btn {
    margin-top: 27px;
    cursor: pointer;
}

.sidenav-btn img {
    outline: none;
}

.btn {
	background-color: transparent;
}

.humanoid {
	width: 100px;
	border: 1px solid #cac6c7;
	height: 100px;
	border-radius: 100px;
	padding: 10px;
	display: inline-block;
	margin-top: -65px;
	background: white;
	position: absolute;
	margin-left: -60px;
}

.mini-humanoid {
	padding-left: 13px;
    width: 51px;
    border: 1px solid #ed800b;
    height: 51px;
    border-radius: 100px;
    display: inline-block;
    background: white;
    position: absolute;
    padding-top: 6px;
}

.vcenter {
	display: flex;
	align-items: center;
	min-height: 500px;
}

.back-icon {
	padding-left: 20px;
	font-size: 90px;
	color: #DADADA;
	cursor: pointer;
    outline: none;
}

.start-container {
	margin-top: 100px;
}

.start-container .row {
	padding: 20px;
}

.start-container .row h2, h3 {
    font: 400 35px/50px "Lato", "Helvetica Neue", Arial, sans-serif;
    color: #5a5959;
}

.start-container h3 {
	line-height: 150%;
}

.start-inputs {
    padding: 20px 6px; 
}
.start-inputs:focus {
    border: none;
    outline: none;
}

.form-control:focus {
    border: 2px solid #ed800b;
}

.form-control-focused {
    border: 2px solid #ed800b;
}

.start-buttons {
    font: 700 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
    height: 47px;
    line-height: 47px;
    padding: 0 70px;
    border: 0;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ed800b; /*PINK #FF0083*/
    color: #fff;
}

.cancel-buttons {
    font: 700 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
    height: 47px;
    line-height: 47px;
    padding: 0 70px;
    background-color: #F7F7F7;
    border: 1px solid #DADADA;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    color: #4A4A4A;
}

.cancel-buttons:hover {
    background-color: #e0dcdc;
    border: 1px solid #dadada;
}

.start-buttons:hover {
    background-color: #bf6709; /*pink hover #dd0036c*/
}

.start-buttons:focus, .cancel-buttons:focus {
    outline: none;
}

.start-buttons-disabled, .start-buttons-disabled:hover {
    font: 700 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
    height: 47px;
    line-height: 47px;
    padding: 0 70px;
    border: 0;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #B7B7B7;
    cursor: default;
}

.error-message {
    color: #ed800b;
    position: relative;
    font-size: 14px;
    text-align: center;
    margin-bottom: -40px;
}

.error-message-sign {
    display: inline-block;
    border-radius: 16px;
    border: 1px solid;
    width: 21px;
}

#map {
	width: 100%; 
	height: 120px;
}

.vertical-column {
    display: table;
    table-layout: fixed;
}

.clearable {
	background:url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
	padding: 20px 6px;
	transition: background 0.4s; 
}

.clearable.x {
	background-position: right 5px center;
}

.clearable.onX {
	cursor:pointer;
}

.info-bubble {
	min-height: 35px;
	min-width: 400px;
    border-radius: 20px 20px 20px 5px;
    background-color: #F7F7F7;
    margin-left: 61px;
    padding: 10px;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 13px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

select {
    cursor: pointer;
    font: 700 1.4rem/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
    background-image: url(../imgs/select-caret-dark.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding: 14px 35px 16px 15px;
    color: #4A4A4A;
    border: 1px solid #DADADA;
    border-radius: 5px;
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events:all;
}

.mobile-menu {
    background: #313131;
}

.mobile-menu-item {
    color: #fff;
    cursor: pointer;
}

.mobile-menu-item a {
    text-decoration: none;
    color: #fff;
}

.mobile-menu-item:hover, .mobile-menu-item a:hover {
    color: #dadada;
}

.close {
    color: #fff;
    opacity: 0.8;
    outline: none;
}

/* Removendo a borda azul padrão do bootstrap */
.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.rating-description {
    font: 700 1.4rem/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
    color: #4A4A4A;
}

.u-stars {
  color: #ed800b;
  font-size: 20px;
}

.padding-0 {
    padding: 0 !important;
}

.font-16 {
    font-size: 16px;
}

.logo {
    font: 500 40px "Lato", "Helvetica Neue", Arial, sans-serif;
    color: #4A4A4A;
    cursor: pointer;
    margin-right: 35px;
}

.logo:hover {
    color: #6d6c6c;
}

.logo-link {
    display: table-cell;
    vertical-align: middle;
}

.price-circle {
    font: 400 26px/37px "Merriweather",Georgia,serif;
    width: 140px;
    border: 1px solid #ed800b;
    height: 140px;
    border-radius: 100px;
    padding: 10px;
    display: inline-block;
    margin-top: -65px;
    background: #ed800b;
    position: absolute;
    margin-left: -60px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    flex-direction: column;
}

/*
    Material Design Override
*/
.md-progress-linear.md-default-theme .md-bar, .md-progress-linear .md-bar {
    background-color: #f09418;
}

.md-datepicker-input {
    min-width: 155px;
}

.md-datepicker-focused {
    border-bottom-color: #ed800b !important;
}

.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border: 1px solid #ed800b;
}

.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date 
.md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator,
 .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #ed800b;
 }

/*
    Área "O que está coberto pelo seguro/ O que não está coberto pelo seguro"
*/
.covered-area {
    max-width: 1000px;
    margin: 0 auto;
}

.coverage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.coverage-list > li,
.coverages-list > li {
    list-style: none;
    list-style-image: none;
}

.coverage-list li.box {
    width: 50%;
    max-width: 400px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.icn-peril {
    width: 66px;
    height: 63px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.icn-fire {
    background: url(../imgs/icn-sprite-perils.png) 0 -62px;
 }

.icn-weather-1 {
    background: url(../imgs/icn-sprite-perils.png) 0 -124px;
}
.icn-weather-2 {
    background: url(../imgs/icn-sprite-perils.png) -130px -62px;
}
.icn-weather-3{
    background: url(../imgs/icn-sprite-perils.png) 65px -62px;
}
.icn-crime {
    background: url(../imgs/icn-sprite-perils.png) -65px 125px;
}
.icn-injury {
    background: url(../imgs/icn-sprite-perils.png) 131px -188px;   
}
.icn-medical {
    background: url(../imgs/icn-sprite-perils.png) 0 -188px;   
}
.icn-water {
    background: url(../imgs/icn-sprite-perils.png) 0 0;   
}
.icn-earthquake {
    background: url(../imgs/icn-sprite-perils.png) -65px 62px;   
}
.icn-dog-attack {
    background: url(../imgs/icn-sprite-perils.png) 66px 0;   
}
.icn-flood {
    background: url(../imgs/icn-sprite-perils.png) 131px 126px;   
}
.icn-roommates {
    background: url(../imgs/icn-sprite-perils.png) 131px 0;   
}
.sml {
    background-size: 261px 250px;
}

.question-far-down {
    background: url(../imgs/icn-far-down.svg) center top no-repeat;
    width: 74px;
    height: 86px;
    display: block;
    margin: 0 auto 20px auto;
}

.coverage-list li.box-white {
    background-color: #fff;
    text-align: center;
    max-width: 360px;
    height: 420px;
    padding: 20px;
    margin: 20px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    border: 1px #DADADA solid;
}

.coverage-list li.box-white .price-toggles {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 73px;
    padding: 0 20px;
    border-top: 3px #ed800b solid;
}

.coverage-list li.box-white .price-toggles .btn-toggle {
    width: 29px;
    height: 30px;
    border: 1px solid #DADADA;
    border-radius: 50%;
    position: relative;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity 0.2s;
    cursor: pointer;
}

.coverage-list li.box-white .price-toggles .btn-toggle.up {
    background: transparent url(../imgs/icn-sprite-50.svg) no-repeat -201px -51px;
}
.coverage-list li.box-white .price-toggles .btn-toggle.down {
    background: transparent url(../imgs/icn-sprite-50.svg) no-repeat -151px -51px;
}

.coverage-list li.box-white .price-toggles .btn-toggle.down.disabled {
    pointer-events: none;
    background: transparent url(../imgs/icn-sprite-50.svg) no-repeat -101px -0;
}
.coverage-list li.box-white .price-toggles .btn-toggle.up.disabled {
    pointer-events: none;
    background: transparent url(../imgs/icn-sprite-50.svg) no-repeat -151px -0;
}

.coverage-list li.box-white .price-toggles .price {
    font-size: 32px;
    line-height: 70px;
    font-weight: 700;
    color: #4A4A4A;
}

.personal_property {
    background: url(../imgs/icn-sprite-coverages.png) no-repeat -93px -278px;
    margin-left: 35%;
    background-size: 287px 359px;
    width: 110px;
    height: 100px;
}

.personal_liability {
    background: url(../imgs/icn-sprite-coverages.png) no-repeat 12px -78px;
    margin-left: 35%;
    background-size: 287px 359px;
    width: 110px;
    height: 100px;
}

.loss_of_use {
    background: url(../imgs/icn-sprite-coverages.png) no-repeat 11px -272px;
    margin-left: 35%;
    background-size: 287px 359px;
    width: 110px;
    height: 100px;
}

.medical {
    background: url(../imgs/icn-sprite-coverages.png) no-repeat -70px -75px;
    margin-left: 35%;
    background-size: 287px 359px;
    width: 110px;
    height: 100px;
}
/*
    FIM ::: Área "O que está coberto pelo seguro/ O que não está coberto pelo seguro"
*/

/*
    Área "Adicione Cobertura Extra"
*/
.scheduled-items {
    margin-top: 37px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}
.scheduled-item {
    display: flex;
    flex-flow: column;
    width: 140px;
    margin: 15px;
    position: relative;
}
.scheduled-item .item-icon {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 140px;
    border: 1px solid #ECECEC;
    border-radius: 50%;
}
.scheduled-item .item-details {
    margin-top: 11px;
}
.scheduled-item .item-main-action {
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    font: 700 22px/30px "Lato", "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
}

.btn-close {
    font-size: 16px !important;
    left: 106px !important;
    background-color: #dadada;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.btn-standard.btn-pink {
    background-color: #ed800b;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.jewelry img, .art img{
    height: 75px;
}
.camera img {
    height: 60px;
    cursor: pointer;
}
.bicycle img {
    height: 57px;
}
.scheduled-item .item-icon .item-premium-banner {
    width: 144px;
    height: 29px;
    position: absolute;
    bottom: 25px;
    left: -3px;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-image: url(../imgs/green_ribbon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.item-premium-banner p {
    color: #fff;
}
/*
    FIM ::: Área "Adicione Cobertura Extra"
*/

/*
    Tela Institucional
*/

.main-section p {
    font-size: 20px;
    line-height: 28px;
    color: #4A4A4A;
    padding: 0 20px 20px 20px;
}

.main-section-1 {
    padding: 40px;
    padding-top: 85px;
    border-bottom: 1px solid #dadada;
}

.main-section-2 {
    background: url(../imgs/bg-flood.png) center top no-repeat,
    url(../imgs/bg-flood-water.png) center bottom -2px repeat-x;
    background-size: 1281px 680px, 1366px 140px;
    align-items: flex-start;
    height: 680px;
    padding-top: 30px;
    /*border-bottom: 2px #4A4A4A solid;*/
    border-bottom: 2px #dadada solid;
}

.title-lrg {
    font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
    color: #5a5959; 
}

.main-section-3 {
    height: 710px;
    padding-top: 30px;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px #DADADA solid;
    background: transparent url(../imgs/bg-app-sketch.svg) center bottom -2px no-repeat;
}

.main-section-4 {
    padding-top: 30px;
    padding: 40px;
}

.main-section-4 .list-insurance {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    list-style-type: none;
}

.main-section-4 .list-insurance li {
    /*background: #F7F7F7;*/
    max-width: 340px;
    border: 1px #DADADA solid;
    padding: 25px 45px;
    margin: 20px 20px 40px 20px;
    border-radius: 5px;
}

.main-section-4 .list-insurance li h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #4A4A4A;
    padding: 0 10px 20px 10px;
}

.main-section-4 .list-insurance li small {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #B7B7B7;
}

.main-section-4 .list-insurance li em {
    font: 500 58px/73px "Merriweather", Georgia, serif;
    color: #4A4A4A;
    display: block;
    padding: 10px 0 30px 0;
}

.main-section-4 .list-insurance .start-buttons {
    padding: 5px 28px;
    line-height: 10px;
}

/*
    Footer Plusoft
*/

.footer {
    border-top-color: #333333;
    background: #444444;
    color: #999999;
    height: 136px;
}

.copyright {
    background: #222222;
    color: #777777;
}

.copyright a {
    color: #888888;
}

.social-icons ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

.social-icons ul li a {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.social-twitter a {
    background: url(../imgs/twitter.png) no-repeat 0 0;
}
.social-facebook a {
    background: url(../imgs/facebook.png) no-repeat 0 0;
}
.social-instagram a {
    background: url(../imgs/instagram.png) no-repeat 0 0;
}
.social-linkedin a {
    background: url(../imgs/linkedin.png) no-repeat 0 0;
}
.social-youtube a {
    background: url(../imgs/youtube.png) no-repeat 0 0;
}
