<header>
	<!-- Header Humanoid -->
	<nav class="navbar navbar-default navbar-fixed-top" ng-hide="isLastPage">
		<div class="container-fluid">
			<div class="row header-bar">
				<div class="col-xs-1 sidenav-btn">
					<img src="./imgs/sidenav-btn.png" alt="sidenav-btn.png" ng-click="toggleLeftMenu()">
				</div>
				<div class="col-xs-9">
					<img src="./imgs/plusoft_logo.png" alt="plusoft_logo.png" title="Plusoft" height="75px">
				</div>
				<div class="col-xs-2 text-right" style="margin-top: 17px;">
					<span data-toggle="tooltip" data-placement="bottom" title="Recomeçar">
						<button type="button" class="btn glyphicon glyphicon-repeat" data-toggle="modal" data-target="#restartModal"></button>
					</span>
					<span data-toggle="tooltip" data-placement="bottom" title="Entrar em contato">
						<button type="button" class="btn glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#contactUsModal"></button>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<div class="humanoid">
						<img src="./imgs/Amanda.jpg" alt="Amanda.jpg" title="Amanda" height="75px">
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- Header sem Humanoid (última página) -->
	<nav class="navbar navbar-default navbar-fixed-top" ng-hide="!isLastPage">
		<div class="container-fluid">
			<div class="row header-bar">
				<div class="col-xs-1 sidenav-btn">
					<img src="./imgs/sidenav-btn.png" alt="sidenav-btn.png" ng-click="toggleLeftMenu()">
				</div>
				<div class="col-xs-1">
					<img src="./imgs/plusoft_logo.png" alt="plusoft_logo.png" title="Plusoft" height="75px">
				</div>
				<div class="col-xs-2 col-xs-offset-3" style="margin-top: 17px;">
					<a href="#" style="text-decoration: none;" class="logo-link">
						<span class="logo">Plusoft</span>
					</a>
				</div>
				<div class="col-xs-2 col-xs-offset-2" style="margin-left: 15% !important; margin-top: 17px;">
					<button class="start-buttons" style="min-width: 26%; padding: 1px 17px;" data-toggle="modal" data-target="#paymentModal">Pagar R$ {{plusoftFinalProductPrice}} mês</button>
				</div>
				<div class="col-xs-2 text-right" style="width: 9% !important;margin-top: 17px;float: right;">
					<span data-toggle="tooltip" data-placement="bottom" title="Recomeçar">
						<button type="button" class="btn glyphicon glyphicon-repeat" data-toggle="modal" data-target="#restartModal"></button>
					</span>
					<span data-toggle="tooltip" data-placement="bottom" title="Entrar em contato">
						<button type="button" class="btn glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#contactUsModal"></button>
					</span>
				</div>
			</div>
		</div>
	</nav>
</header>

<!-- Menu Lateral -->
<section id="sidenavMenu" layout="column" hidden="true" ng-cloak>
	<section layout="row" flex>
		<md-sidenav layout="column" style="z-index: 9999;" class="md-sidenav-left mobile-menu" md-component-id="left" md-disable-backdrop md-whiteframe="4">
			<md-content layout-margin class="mobile-menu">
				<div style="border: none;">
                    <button type="button" class="close" ng-click="toggleLeftMenu()">
                    	<span aria-hidden="true">&times;</span>
                    </button>
                </div>
				<md-list>
					<md-list-item class="mobile-menu-item">
						<span>
							<a href="#"> Home </a>
						</span>
					</md-list-item>
					<md-list-item class="mobile-menu-item">
						<span>
							<a href="http://www.plusoft.com.br" target="_blank"> Fundação </a>
						</span>
					</md-list-item>
					<md-list-item class="mobile-menu-item">
						<span>FAQ</span>
					</md-list-item>
					<md-list-item class="mobile-menu-item">
						<span>Blog</span>
					</md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>
	</section>
</section>

<section>
	<div class="modal fade-scale" id="restartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="vertical-alignment-helper">
	        <div class="modal-dialog vertical-align-center">
	            <div class="modal-content">
	                <div class="modal-header" style="border: none;">
	                </div>
	                <div class="modal-body">
	                	<div class="text-center">
		                	<h4 style="margin-bottom: 30px;">GOSTARIA DE RECOMEÇAR?</h4>
		                	<p>Todas as suas respostas serão apagadas e você começará do início</p>
	                	</div>
	                </div>
	                <div class="modal-footer" style="border: none; padding: 0; padding-bottom: 30px;">
	                	<div class="col-xs-4 col-xs-offset-2">
		                    <button type="button" style="padding: 0 35px;" class="cancel-buttons" data-dismiss="modal">Cancelar</button>
	                	</div>
	                	<div class="col-xs-4">
		                    <button type="button" style="padding: 0 35px;" class="start-buttons" data-dismiss="modal" ng-click="restart()">Recomeçar</button>
	                	</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>

<section>
	<div class="modal fade-scale" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="vertical-alignment-helper">
	        <div class="modal-dialog vertical-align-center">
	            <div class="modal-content">
	                <div class="modal-header" style="border: none;">
	                </div>
	                <div class="modal-body">
	                	<div class="text-center">
		                	<h4 style="margin-bottom: 20px;">ENTRE EM CONTATO CONOSCO</h4>
		                	<p style="margin-bottom: 40px;">Preencha suas informações, escreva sua mensagem e entraremos em contato com você</p>
	                	</div>
	                	<div>
	                		<form name="contactForm">
	                			<div class="row">
	                				<div class="error-message" style="display: none;">
										<div class="col-xs-offset-3 col-xs-6">
											<span class="error-message">
												<p class="error-message-sign"><strong>!</strong></p>
												{{errorMessage}}
											</span>
										</div>
									</div>
	                			</div>
								<div class="col-xs-8 col-xs-offset-2" style="padding-bottom: 10px;">
	                				<input type="text" name="contact-us" tabindex="1" id="name" class="form-control start-inputs" placeholder="NOME COMPLETO" ng-model="contactModel.name" required>
	                			</div>
	                			<div class="col-xs-8 col-xs-offset-2" style="padding-bottom: 10px;">
	                				<input type="email" name="contact-us" tabindex="2" id="address" class="form-control start-inputs" placeholder="E-MAIL" ng-model="contactModel.email" required>
	                			</div>
	                			<div class="col-xs-8 col-xs-offset-2" style="padding-bottom: 25px;">
	                				<textarea class="form-control" style="resize:none;" tabindex="3" rows="5" id="comment" placeholder="COMO PODEMOS TE AJUDAR?" ng-model="contactModel.message"></textarea>
	                			</div>
	                		</form>
	                	</div>
	                </div>
	                <div class="modal-footer" style="border: none; padding: 0; padding-bottom: 30px;">
	                	<div class="row" align="center">
		                	<div class="col-xs-4 col-xs-offset-4">
			                    <button type="button" style="padding: 0 35px;" ng-disabled="contactForm.$invalid" ng-class="{'start-buttons-disabled': contactForm.$invalid}" class="start-buttons" data-dismiss="modal" >Enviar</button>
		                	</div>
	                	</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>

<section>
	<div class="modal fade-scale" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="vertical-alignment-helper">
	        <div class="modal-dialog vertical-align-center">
	            <div class="modal-content">
	                <div class="modal-header" style="border: none;">
	                </div>
	                <div class="modal-body">
	                	<div class="text-center">
		                	<h4 style="margin-bottom: 20px;">INFORMAÇÕES DE CARTÃO DE CRÉDITO</h4>
	                	</div>
	                	<div >
	                		<form name="inputForm">
								<div class="col-xs-8 col-xs-offset-2" style="padding-bottom: 10px;">
		                			<div class="inner-addon left-addon">
		                				<i class="glyphicon glyphicon-credit-card"></i>
		                				<input type="text" name="payment-details" tabindex="1" class="form-control start-inputs" placeholder="NÚMERO DO CARTÃO" ng-model="paymentModel.creditCard" required>
		                			</div>
	                			</div>
	                			<div class="col-xs-8 col-xs-offset-2" style="padding-bottom: 10px;">
	                				<div class="inner-addon left-addon">
		                				<i class="glyphicon glyphicon-calendar"></i>
	                					<input type="text" name="payment-details" tabindex="2" class="form-control start-inputs" placeholder="MM/AA" ng-model="paymentModel.validDate" required>
		                			</div>
	                			</div>
	                			<div class="col-xs-8 col-xs-offset-2" style="padding-bottom: 25px;">
	                				<div class="inner-addon left-addon">
		                				<i class="glyphicon glyphicon-lock"></i>
	                					<input type="text" name="payment-details" tabindex="3" class="form-control start-inputs" placeholder="CVC" ng-model="paymentModel.CVC" required>
	                				</div>
	                			</div>
	                		</form>
	                	</div>
	                </div>
	                <div class="modal-footer" style="border: none; padding: 0; padding-bottom: 30px;">
	                	<div class="row" align="center">
		                	<div class="col-xs-4 col-xs-offset-4">
			                    <button type="button" style="padding: 0 35px;" ng-disabled="inputForm.$invalid" ng-class="{'start-buttons-disabled': inputForm.$invalid}" class="start-buttons" data-dismiss="modal">Pagar</button>
		                	</div>
	                	</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>

