<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<img src="./imgs/plusoft_logo.png" alt="plusoft_logo.png" title="Plusoft" height="75px">
				</div>
				<div class="col-xs-2 text-right" style="margin-top: 17px;">
					<button type="button" class="btn glyphicon glyphicon-repeat"></button>
					<button type="button" class="btn glyphicon glyphicon-question-sign"></button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<div class="humanoid">
						<img src="./imgs/Amanda.jpg" alt="Amanda.jpg" title="Amanda" height="75px">
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>