<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
		        <li><a href="#">Casa</a></li>
		        <li><a href="#">Fundação</a></li>
		        <li><a href="#">FAQ</a></li>
		        <li><a href="#">Blog</a></li>
		     </ul>
		</div>
	</nav>
</header>

<section>
	<div class="container-fluid text-center">
		<div class="row" style="margin-top: 75px;">
			<div class="col-xs-3 main-container-left">
			</div>
			<div class="col-xs-6">
				<img src="imgs/plusoft_logo.png" alt="plusoft_logo.png" title="Plusoft">
				<div class="row">
					<div class="col-xs-12">
						<h1>Você sabe tudo sobre CRM?</h1>
						<h4 style="margin-top: 30px; margin-bottom: 45px;">
							Preços assassinos. Empresa especialista em CRM. Conheça agora a nossa solução.
						</h4>		
					</div>
					<div class="row">
						<div class="col-xs-12">
							<a id="btnConsultarPrecos" class="btn btn-default" style="padding: 13px;font-size: 18px;" href="#start/1">Consulte os nossos preços</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-3 main-container-right">
			</div>
		</div>
	</div>
</section>

