<div ng-include="'views/humanoid.html'"></div>

<section>
	<div id="form-3" class="container-fluid">
		<div class="row">
			<div class="col-xs-1 vcenter">
				<i class="glyphicon glyphicon-chevron-left back-icon" ng-click="goBackwards()"></i>
			</div>
			<div class="col-xs-10 vcenter">
				<div class="container start-container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h3>Imóvel alugado ou próprio?</h3>
						</div>
					</div>
					<div class="row" style="padding: 0;">
						<form name="inputForm">
							<div class="col-xs-3 col-xs-offset-3">
								<label class="input-radio with-icn">
									<input type="radio" tabindex="1" name="ownership" value="renter" ng-model="model.ownership" required>
									<div class="option-wrapper">
										<img src="imgs/owner.png">
										<div class="iconic-option-inner">
											<h5>Alugado</h5>
											<i></i>
										</div>
									</div>
								</label>
							</div>
							<div class="col-xs-6">
								<label class="input-radio with-icn">
									<input type="radio" tabindex="1" name="ownership" value="owner" ng-model="model.ownership" required>
									<div class="option-wrapper">
										<img src="imgs/renter.png" />
										<div class="iconic-option-inner">
											<h5>Próprio</h5>
											<i></i>
										</div>
									</div>
								</label>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<button class="start-buttons" ng-disabled="inputForm.$invalid" ng-class="{'start-buttons-disabled': inputForm.$invalid}" ng-click="validateOwnership()">Próximo</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 vcenter">
			</div>
		</div>
	</div>
</section>

