<div ng-include="'views/humanoid.html'"></div>

<section>
	<div id="form-1" class="container-fluid">
		<div class="row">
			<div class="col-xs-1 vcenter">
				<!-- <i class="glyphicon glyphicon-chevron-left back-icon"></i> -->
			</div>
			<div class="col-xs-10 vcenter">
				<div class="container start-container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h3>Oi! Eu sou Amanda. Vou te dar um preço incrível em segundos. <br> Pronto para ir?</h3>
						</div>
					</div>
					<div class="row error-message" style="display: none;">
						<div class="col-xs-offset-3 col-xs-6">
							<span class="error-message">
								<p class="error-message-sign"><strong>!</strong></p>
								{{errorMessage}}
							</span>
						</div>
					</div>
					<div class="row">
						<form name="inputForm">
							<div class="col-xs-3 col-xs-offset-3">
								<input type="text" name="input-person" id="firstName" class="form-control start-inputs" placeholder="Primeiro nome" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="model.userName" required>
							</div>
							<div class="col-xs-3">
								<input type="text" name="input-person" id="lastName" class="form-control start-inputs" placeholder="Último nome" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="model.userSurname" required>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<button class="start-buttons" ng-disabled="inputForm.$invalid" ng-class="{'start-buttons-disabled': inputForm.$invalid}" ng-click="validatePerson()">Vamos</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 vcenter">
			</div>
		</div>
	</div>
</section>


