<div ng-include="'views/humanoid.html'"></div>

<section>
	<div id="form-13" class="container-fluid">
		<div class="row">
			<div class="col-xs-1 vcenter">
				<i class="glyphicon glyphicon-chevron-left back-icon" ng-click="goBackwards()"></i>
			</div>
			<div class="col-xs-10 vcenter">
				<div class="container start-container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h3>Quando você pretende se mudar?</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-xs-offset-4 text-center">
							<select name="move_in_date">
								<option value="dont_know" ng-model="model.moveInDate">Ainda não sei&nbsp;</option>
								<option value="this_month" ng-model="model.moveInDate">Este mês&nbsp;</option>
								<option value="next_month" ng-model="model.moveInDate">Próximo mês&nbsp;</option>
								<option value="august_2017" ng-model="model.moveInDate">Agosto de 2017&nbsp;</option>
								<option value="september_2017" ng-model="model.moveInDate">Setembro de 2017&nbsp;</option>
								<option value="october_2017" ng-model="model.moveInDate">Outubro de 2017&nbsp;</option>
								<option value="november_2017" ng-model="model.moveInDate">Novembro de 2017&nbsp;</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<button class="start-buttons" ng-click="validateTimeToMove()">Próximo</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 vcenter">
			</div>
		</div>
	</div>
</section>