<div ng-include="'views/humanoid.html'"></div>

<section>
	<div id="form-final" class="container-fluid">
		<div class="row">
			<div class="col-xs-1 vcenter">
				<i class="glyphicon glyphicon-chevron-left back-icon" ng-click="goBackwards()"></i>
			</div>
			<div class="col-xs-10 vcenter">
				<div class="container start-container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h3>Ótimo! Vamos enviá-lo uma cotação</h3>
						</div>
					</div>
					<form name="inputForm">
						<div class="row">
							<div class="col-xs-4 col-xs-offset-3">
								<label class="input-wrap email">
									<input type="email" tabindex="1" name="user_email" class="is-empty" placeholder="E-MAIL" ng-model="model.email" required>
								</label>
							</div>
							<div class="col-xs-3">
								<div class="input-wrap birthday">
									<input type="number" tabindex="2" name="birth_day" placeholder="DD" class="is-empty" value="" ng-model="model.birth_day" required>
									<input type="number" tabindex="3" name="birth_month" placeholder="MM" class="is-empty" value="" ng-model="model.birth_month" required>
									<input type="number" tabindex="4" name="birth_year" placeholder="AAAA" class="is-empty" value="" ng-model="model.birth_year" required>
								</div>
							</div>
						</div>
						<div class="row" align="center" style="padding: 0;">
							<div class="col-xs-5 col-xs-offset-4">
								<div class="cbx-tos">
									<label class="input-checkbox inline">
										<input type="checkbox" name="terms_of_service_approved" tabindex="5" value="on" ng-model="model.agreedToTerms" required>
										<div class="option-inner">
											<h5>
												<span>Eu concordo com os 
													<a href="#" target="_blank">termos de serviço</a>
												</span>
											</h5>
											<i></i>
										</div>
									</label>
								</div>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-xs-12 text-center">
							<button class="start-buttons" ng-disabled="inputForm.$invalid" ng-class="{'start-buttons-disabled': inputForm.$invalid}" ng-click="showRatings()">Próximo</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 vcenter">
			</div>
		</div>
	</div>
</section>


