<div ng-include="'views/humanoid.html'"></div>

<section>
	<div id="form-4" class="container-fluid">
		<div class="row">
			<div class="col-xs-1 vcenter">
				<i class="glyphicon glyphicon-chevron-left back-icon" ng-click="goBackwards()"></i>
			</div>
			<div class="col-xs-10 vcenter">
				<div class="container start-container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h3>Você possui alguma das opções na sua residência?</h3>
						</div>
					</div>
					<div class="row" style="padding: 0;">
						<div class="col-xs-10 col-xs-offset-2">
							<label class="input-checkbox with-icn" id="roommates-option">
								<input type="checkbox" name="roommates" tabindex="1" value="roommates" ng-change="roommateChange()" ng-model="model.optionals.roommates">
								<div class="option-wrapper">
									<img src="imgs/roommates.png">
									<div class="iconic-option-inner">
										<h5>Colegas de Quarto</h5>
										<i></i>
									</div>
								</div>
							</label>
							<label class="input-checkbox with-icn">
							   <input type="checkbox" name="local_fire_alarm" tabindex="2" value="fire_alarm" ng-model="model.optionals.fire_alarm">
							   <div class="option-wrapper">
								  <img src="imgs/fire-alarm.png">
								  <div class="iconic-option-inner">
									 <h5>Alarme de incêndio</h5>
									 <i></i>
								  </div>
							   </div>
							</label>
							<label class="input-checkbox with-icn">
							   <input type="checkbox" name="local_burglar_alarm" tabindex="3" value="burglar_alarm" ng-model="model.optionals.burglar_alarm">
							   <div class="option-wrapper">
								  <img src="imgs/burglar-alarm.png">
								  <div class="iconic-option-inner">
									 <h5>Alarme anti-roubo</h5>
									 <i></i>
								  </div>
							   </div>
							</label>
						</div>
					</div>
					<div class="row" id="info-bubble-row" style="display: none;">
						<div class="col-xs-offset-3 col-xs-6">
							<div class="mini-humanoid">
								<img src="./imgs/Amanda.jpg" alt="Amanda.jpg" title="Amanda" height="35px">
							</div>
							<p class="info-bubble"> {{infoMessage}} </p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<button class="start-buttons" ng-click="validateOptionals()">Próximo</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 vcenter">
			</div>
		</div>
	</div>
</section>


