<div ng-include="'views/humanoid.html'"></div>

<section>
	<div id="form-final" class="container-fluid">
		<div class="row">
			<div class="col-xs-1 vcenter" style="background-color: blue;">
				<i class="glyphicon glyphicon-chevron-left back-icon" ng-click="goBackwards()"></i>
			</div>
			<div class="col-xs-10 vcenter">
				<div class="container start-container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h3>Ótimo! Vamos enviá-lo uma cotação</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 vcenter" style="background-color: green;">
			</div>
		</div>
	</div>
</section>


