<div ng-include="'views/humanoid.html'"></div>

<section>
	<div id="form-6" class="container-fluid">
		<div class="row">
			<div class="col-xs-1 vcenter">
				<i class="glyphicon glyphicon-chevron-left back-icon" ng-click="goBackwards()"></i>
			</div>
			<div class="col-xs-10 vcenter">
				<div class="container start-container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h3>Você possui algum seguro residencial ativo?</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-xs-offset-5 col-centered">
							<form name="inputForm">
								<label class="input-radio true">
								   <input type="radio" tabindex="1" name="active_policy" value="true" ng-change="activePolicyChange()" ng-model="model.activePolicy" required>
								   <div class="option-inner">
									  <h5>Sim</h5>
									  <i></i>
								   </div>
								</label>
								<label class="input-radio false">
								   <input type="radio" tabindex="2" name="active_policy" value="false" ng-change="activePolicyChange()" ng-model="model.activePolicy" required>
								   <div class="option-inner">
									  <h5>Não</h5>
									  <i></i>
								   </div>
								</label>
							</form>
						</div>
					</div>
					<div class="row" id="info-bubble-row" style="display: none;">
						<div class="col-xs-offset-3 col-xs-6">
							<div class="mini-humanoid">
								<img src="./imgs/Amanda.jpg" alt="Amanda.jpg" title="Amanda" height="35px">
							</div>
							<p class="info-bubble"> {{infoMessage}} </p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<button class="start-buttons" ng-disabled="inputForm.$invalid" ng-class="{'start-buttons-disabled': inputForm.$invalid}" ng-click="validateActivePolicy()">Próximo</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 vcenter">
			</div>
		</div>
	</div>
</section>


